NODE_ENV=production
PORT=3000
JWT_SECRET=change_this_to_a_64_char_random_string

# PostgreSQL
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# Cloudflare DNS API
CF_API_TOKEN=
CF_ZONE_ID=c5f9da50402b712eaa6dd0c83751198b
CF_DOMAIN=kobeapptz.com
